<div class="chat-support-container">
    <div class="chat-sessions-list">
        <ul><button class="logout-button" (click)="logout()">Déconnexion</button>
        </ul>
        <ul>
            <li *ngFor="let session of chatSessions" (click)="selectSession(session)">
                {{ session.clientFirstName }} {{ session.clientLastName }}
            </li>
        </ul>
    </div>

    <div class="chat-session-view">
        <app-chat-interface *ngIf="selectedSession" [session]="selectedSession"></app-chat-interface>
    </div>
</div>